

@model IEnumerable<PhoneApp.Models.Phone>

@{
    ViewData["Title"] = "Список телефонов";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Добавить телефон</a>
</p>
<table class="table" id="phone-list-dt">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
            <th></th>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    var settings = {

        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "pageLength": 5,

        "ajax": {
            "url": "Phone/GetPhoneListPost",
            "type": "POST",
            "datatype": "json"
        },

                "columnDefs":
                [
                {
                    "targets": [4],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [5],
                    "searchable": false,
                    "orderable": false
                }],
        "columns": [
            { "data": "id", "name": "id", "title": "Phone Id", "autoWidth": true },
            { "data": "name", "name": "name", "title": "Phone Name", "autoWidth": true },
            { "data": "price", "name": "price", "title": "Phone Price", "autoWidth": true },
            { "data": "company", "name": "company", "title": "Company Name", "autoWidth": true },
            {
                "render": function (data, type, full, meta) {
                    return '<a class="btn btn-info" href="/Phone/Edit/' + full.id + '">Edit</a>';
                }
            },

            {
                "render": function (data, type, full, meta) {
                    return '<a class="btn btn-danger" href="/Phone/Delete/' + full.id + '">Delete</a>';
                }
            }

        ]

    };

    $(document).ready(function () {
        $('#phone-list-dt').DataTable(
            settings
        );

    });
</script>

